@import "theme-colors";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700");
$theme-font: 100% Alegreya Sans, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Dark;
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
  h1,
  h2 {
    color: $themeColor-Light;
  }
}
.table {
  display: table;
  width: 100%;
  height: 100%;
  .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }
}
.wrapper {
  padding: 0;
  .jumbotron {
    background-image: url(../../static/images/about.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    // height: calc(100vw - 53rem);
    min-height: 100vh;
    position: relative;
    z-index: 5;
    max-height: 100vh;
    margin-top: 106px;
    background-color: transparent !important;
    text-align: center;
    .text-uppercase {
      .creative {
        font-size: 2.6rem !important;
      }
      div {
        .txt-rotate {
          span {
            .react-rotating-text-cursor {
              animation: blinking-cursor 0.8s
                cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
              @keyframes blinking-cursor {
                0% {
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.header_image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  // z-index: 1;
  max-height: 100vh;
}

.page-content {
  .blog-posts-container {
    ul {
      .blog-items {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 40px;
        min-height: 280px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        .title {
          padding: 0 15px;
          color: #fff;
          cursor: pointer;
        }
        p {
          padding: 0 15px;
          color: #fff;
        }
        .timestamp {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .read-more {
          display: flex;
          justify-content: flex-end;
          .btn {
            border: none;
          }
        }
      }
    }
  }

  .panel-layout {
    .panel-grid {
      #panels_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .panel-grid-cell {
          max-width: 27rem;
          // flex: 1;
          .widget_media_image {
            img {
              height: auto;
              max-width: 100%;

              transition-duration: 0.8s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
      .row_title {
        display: flex;
        justify-content: center;
        .panel-grid-cell {
          max-width: 23rem;
          // flex: 1;
          .widget_text {
            .widget-title {
              text-align: center !important;
            }
          }
        }
      }

      .panel-row-style {
        .panel-grid-cell {
          .widget_text {
            .divider {
              padding: 3rem 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}
